@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Neoh</h1>
    <p class="lead">Esta plataforma tem como objetivo ajudar os nossos clientes a abrir os pedidos de chamado e consultar informações</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Suporte</h2>
        <p>
            
            Realize a abertura dos seus chamados e acompanhe, não só erros mais também melhorias
            que podem ser incluídas para tornar o seu fluxo de trabalho cada vez melhor.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instalação</h2>
        <p>Quer saber como funciona a nossa instalação clique aqui e conheça as opções. 
           Estamos sempre buscando oferecer facilidade e melhor qualidade aos serviços
           de nossos clientes.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tutoriais e Vídeos</h2>
        <p>Está com dúvida em algum processo? Iremos te guiar através de vídeos explicativos,
           Nesta área você ficará por dentro das novidades e melhorias no nosso sistema</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>